%h2 The Brains
%hr
.row-fluid
  .span6.about_us
    .image
      = image_tag 'sanjiv.jpg'
    .name
      %h3= link_to "Sanjiv Kumar Jha", "https://github.com/narutosanjiv", target: "_blank" 
      %h4 Software Engineer
      -#%p He has graduated from Army Institute of Technology, Pune in 2011. Currently he is working as software engineer at Josh Software Pvt. Ltd. He has knowledge of various programming language like c, c++, objective-c, python, ruby, c# and popular framework like .Net, spring, cherry, Rails. He love coding in ruby. He is one of fan of manga and anime
  .span6.about_us
    .image
      = image_tag 'anil.jpg'
    .name
      %h3= link_to "Anil Kumar Maurya", "https://github.com/anilmaurya", target: "_blank"
      %h4 Software Engineer
      -#%p Anil is passionate programmer. He Completed his Bachelor Degree in Computer Engineering in 2012 from Army Institute of Technology, India.

%h2 Contributors
%hr
- if @contributors.present?
  - @contributors.each_slice(2) do |contributor_group|
    .row-fluid       
      - if contributor_group.present?
        - contributor_group.each do |contributor|
          - unless contributor.login == "anilmaurya" || contributor.login == "narutosanjiv"
            .span6.about_us
              .image
                = image_tag contributor.avatar_url
              .name
                %h3= link_to contributor.login, contributor.html_url, target: "_blank"
