.span7.align_right
  = image_tag 'logo.png'
  %h4 Show Your Bidding Skill
.span6.sign_up_form
  .well
    .tabbable
      %ul.nav.nav-tabs
        %li.active= link_to 'Sign In', '#tab1', data: { toggle: 'tab'}
        %li= link_to 'Sign Up', '#tab2', data: {toggle: 'tab'}
      .tab-content
        .tab-pane.active{id: 'tab1'}
          = simple_form_for @user, url: user_session_path, html: {class: 'form-horizontal sign_in_form'} do |f|
            = devise_error_messages!
            = f.input :username
            = f.input :password
            = f.submit 'Sign In', class: 'btn btn-primary'
        .tab-pane{id: 'tab2'}
          = simple_form_for @user, url: registration_path(@user), html: {class: 'form-horizontal sign_in_form'} do |f|
            = devise_error_messages!
            = f.input :username
            = f.input :password
            = f.input :password_confirmation
            = f.submit 'Sign Up', class: 'btn btn-primary'
