.row
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{data: {target: '#myCarousel', :'slide-to' => '0'}}
      %li.active{data: {target: '#myCarousel', :'slide-to' =>  '1'}}
      %li.active{data: {target: '#myCarousel', :'slide-to' =>  '2'}}
      %li.active{data: {target: '#myCarousel', :'slide-to' =>  '3'}}
      %li.active{data: {target: '#myCarousel', :'slide-to' =>  '4'}}
    .carousel-inner
      .item.active= image_tag 'screen1.png'
      .item= image_tag 'screen2.png'
      .item= image_tag 'screen3.png'
      .item= image_tag 'screen4.png'
      .item= image_tag 'screen5.png'
    = link_to '‹','#myCarousel', class: 'carousel-control left', data: {slide: "prev"}
    = link_to '›','#myCarousel', class: 'carousel-control right', data: {slide: "next"}
.row
  .span4.align_right
    = image_tag 'logo.png'
    %h4 Show Your Bidding Skill
  .span8.sign_up_form
    = simple_form_for @user, url: user_session_path, html: {class: 'form-horizontal sign_in_form'} do |f|
      = f.input_field :username, placeholder: 'Twitter Handle', label: false, class: 'input-xlarge'
      = f.submit 'Play', class: 'btn btn-large btn-primary'
