!!!
%html
  %head
    %title Rumble
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag "application"
    = yield :css
    = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    = yield :js
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          = image_tag 'logo.png', class: 'logo'
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li= link_to 'About', '#'
            %li= link_to 'Rule', '#', {class: 'show_rule_button', data:{toggle: 'modal', target: '.rule-point'}}
            %li= link_to 'Logout', destroy_user_session_path, method: :delete if current_user.present?
    .container
      = show_pending_invitation_request(@invitation_request)
      .row
        = yield
        = hidden_field_tag "current_user_id", current_user.try(:id)
    .modal.hide.rule-point
      .modal-header
        %button.close{type: 'button', data:{dismiss: 'modal'}}
          x
        %h3
          Rules 
      .modal-body 
        = render 'games/rules'
      .modal-footer
        %a.btn{data:{dismiss: 'modal'}}
          Close
